<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<div class="login-window">

    <!-- 타이틀 바 -->
    <div class="login-title-bar">
        주차장 관리 시스템
    </div>

    <!-- 중앙 영역 -->
    <div class="login-content">

        <div class="login-box">
            <h2>Login</h2>

            <input type="text" id="username" placeholder="ID">
            <input type="password" id="password" placeholder="Password">

            <button id="loginBtn">Login</button>

            <div id="statusText">로그인 해주세요.</div>
        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
